<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A Fruit</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Create A Fruit</h1>
    <form action="/fruits" method="POST">
        <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        </div>
        <div>
        <label for="description">Description:</label>
        <textarea 
        name="description" 
        id="description"
        placeholder="Please enter a description of 100 characters or less."
        maxlength="100"
        type="text"
        required
        ></textarea>
        </div>
        <div class="checkbox-div">
        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
        </div>
        <div>
        <label for="color">Color:</label>
        <input type="text" name="color" id="color" />
        </div>
        <button type="submit">Add Fruit</button>
    </form>

    <button onclick="window.history.back()">Go Back</button>
</body>
</html>